<!DOCTYPE html>
<html>
<head>
    <title>Kolokwium</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
            <div class="cyfry" v-for="r in rows">
                <div v-for="c in columns">
                    <div class="cell" :class="{active: (active[0]==r && active[1]==c)}" @click="active=[r,c]" @keyup.down="active=[r+1,c]" @keyup.up="active=[r-1,c]" @keyup.right="active=[r,c+1]" @keyup.left="active=[r,c-1]">
                        {{ r }},{{ c }}
                    </div>
                </div>
            </div>
        {{ message }}
    </div>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Powodzenia',
            rows:7,
            columns:15,
            active:[1,1],
            tabindex: 0
        },
        methods:{
            changeCells(rowIndex,columnIndex) {
                this.active=[rowIndex,columnIndex];
            }
        }
    })
    </script>


<style>

.cell
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: orange;
    border: solid 1px;
    border-color: grey;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.cyfry
{
    display: flex;
    flex-direction: row;
}

.active
{
    color:white;
    background-color: red;
}

</style>

</body>
</html>



